<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
  <link rel="stylesheet" th:href="@{/css/product/home.css}">

  <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
  <script th:replace="~{/include/allProduct_js.html::js}" type="text/javascript"></script>
  <script th:replace="~{/include/selectProduct_js.html::js}" type="text/javascript"></script>


  <script th:src="@{/js/product/registProductForm.js}" type="text/javascript"></script>
  <script th:src="@{/js/product/findProduct.js}" type="text/javascript"></script>



</head>
<body>

<header th:replace="~{/include/headerNavFooter.html::header}">
</header>

<div class="flex-container">
  <div>
    상품 등록 페이지 (학교 관리자용)
  </div>

  <div id="registProductForm">
      <input type="text" name="product_name" placeholder="INPUT PRODUCT NAME">
      <input type="button" value="find product" onclick="findProduct();"><br><br>
      <input type="button" value="전체 보기" onclick="allfindProduct();"><br><br>
  </div>

  <div id="selectProduct">
      <table>

      </table>
  </div>

  <div id="checkedProduct">
    <ul>

    </ul>
  </div>

  <div id="registProduct">
    <form th:action="@{/product/registProductConfirm}" name="registProductForm" method="post">
      <input type="hidden" name="school_no" th:value="${loginedMemberDto.school_no}">
      <input type="hidden" name="admin_id" th:value="${loginedMemberDto.id}">
      <input type="hidden" name="admin_name" th:value="${loginedMemberDto.name}">
      <input type="hidden" name="admin_grade" th:value="${loginedMemberDto.grade}">

      <input type="button" value="regist product" onclick="registProductConfirm();">
    </form>

  </div>

</div>


</body>
</html>