<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <!--    <title th:replace="~{/include/title.html::title}"></title>-->
    <title>aaa</title>

    <link rel="stylesheet" th:href="@{/css/test.css}">

    <script th:src="@{/js/admin/loginAccountForm.js}" type="text/javascript"></script>

</head>
<body>

<div>

    <div>
       회원가입 페이지
    </div>

    <div class="create_account_form">
        <form th:action="@{/admin/loginAccountConfirm}" name="loginAccountForm" method="post">
            <input type="text" name="id" placeholder="INPUT ID"><br>
            <input type="password" name="password" placeholder="INPUT PASSWORD"><br>
            <input type="button" value="create account" onclick="loginAccountConfirm();">
            <input type="reset" value="reset">
        </form>
    </div>



</div>


</body>
</html>