<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneteam.dormeaseadmin.admin.member.IMemberMapper">

    <select id="selectDuplicateByID" parameterType="String" resultType="boolean">
        SELECT
            count(*)
        FROM
            (SELECT
                 id
             FROM
                 student
             UNION
             SELECT
                 id
             FROM
                 parents
             UNION
             SELECT
                 id
             FROM
                 admin) u
        WHERE
            id = #{id}
    </select>

    <insert id="createAccountConfirm" parameterType="com.oneteam.dormeaseadmin.admin.member.MemberDto">
        INSERT INTO
            admin (
                school_no,
                id,
                password,
                name,
                gender,
                position,
                phone,
                zip_code,
                address,
                address_detail1,
                address_detail2,
                mail,
                reg_date,
                mod_date
            )
        VALUES (
            #{school_no},
            #{id},
            #{password},
            #{name},
            #{gender},
            #{position},
            #{phone},
            #{zip_code},
            #{address},
            #{address_detail1},
            #{address_detail2},
            #{mail},
            NOW(),
            NOW()
        )
    </insert>

    <select id="loginAccountConfirm" parameterType="String" resultType="com.oneteam.dormeaseadmin.admin.member.MemberDto">
        SELECT
            *
        FROM
            admin
        WHERE
            id = #{id}
    </select>

    <select id="selectLeavePassList" parameterType="String" resultType="com.oneteam.dormeaseadmin.admin.leavePass.LeavePassDto">
        select
            *
        from
            leave_pass
        where
            school_no = #{schoolNo}
    </select>

</mapper>