<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneteam.dormeaseadmin.api.IApiMapper">

    <insert id="insertSchoolData" parameterType="java.util.List">
            INSERT INTO
                schoolInfo (
                            atpt_code,
                            atpt_name,
                            school_code,
                            school_name
                            )
            VALUES
        <foreach collection="list" item="item" separator=", ">
            (

                    #{item.atpt_code},
                    #{item.atpt_name},
                    #{item.school_code},
                    #{item.school_name}
            )
        </foreach>
    </insert>

</mapper>