<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oneteam.dormeaseadmin.admin.leavePass.ILeavePassMapper">
    <update id="updateApproveLeavePass" parameterType="Integer">
        update
            leave_pass
        set
            admin_approval = 1
        where
            no = #{no}
    </update>
    <select id="selectLeavePassList" parameterType="String" resultType="com.oneteam.dormeaseadmin.admin.leavePass.LeavePassDto">
        SELECT
            l.*,
            p.phone as parent_phone,
            s.school_name
        FROM
            leave_pass l
                JOIN
            parents p
            ON l.student_no = p.student_no
                JOIN
            schoolInfo s
            ON l.school_no = s.school_code
        WHERE
            l.school_no = #{schoolNo}
    </select>
    <select id="selectLeavePassByNo" parameterType="String" resultType="com.oneteam.dormeaseadmin.admin.leavePass.LeavePassDto">
        SELECT
            l.*,
            p.phone as parent_phone,
            s.school_name
        FROM
            leave_pass l
                JOIN
            parents p
            ON l.student_no = p.student_no
                JOIN
            schoolInfo s
            ON l.school_no = s.school_code
        WHERE
            l.school_no = #{schoolNo}
    </select>
    <update id="updateLeavePassByNo" parameterType="Integer">
        update
            leave_pass
        set
            comeback_date = now()
        where
            no = #{no}
    </update>
    <select id="selectLeavePassBySchoolNo" parameterType="String" resultType="com.oneteam.dormeaseadmin.admin.leavePass.LeavePassDto">
        SELECT
            l.*,
            p.phone as parent_phone,
            s.school_name
        FROM
            leave_pass l
                JOIN
            parents p
            ON l.student_no = p.student_no
                JOIN
            schoolInfo s
            ON l.school_no = s.school_code
        WHERE
            l.school_no = #{schoolNo} AND l.comeback_date = '1000-01-01'
    </select>
</mapper>