<script th:fragment="js" type="text/javascript">

    let idDuplicationCheck = false;

  $(document).ready(function() {
    console.log('DOCUMENT READY!!');

    initEvent();

  });

  function initEvent() {
    console.log("initEvent() CALLED!!!");

    $("#duplicationCheck").on('click', function (){


    });
  }


  function createAccountConfirm() {
    console.log("createAccountConfirm() CALLED!!!");

    let form = document.createAccountForm;


  }


  // AJAX START

  function ajax_idDuplicationCheck(id){
      console.log("ajax_idDuplicationCheck() CALLED!!!");

      msgDto={
          'id': id,
      }

      $.ajax({
          url: '/admin/member/idDuplicationCheck',
          type: 'GET',
          data: msgDto,
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(data) {
              console.log('AJAX SUCCESS - ajax_idDuplicationCheck()');

              let isDuplicateID = data.isDuplicateID;
              $("#duplicationResult").children().remove();
              let appendTag = "<span>";

              if(isDuplicateID) {
                  appendTag += "아이디가 중복입니다.";
              } else {
                  appendTag += "사용가능한 아이디입니다.";
                  idDuplicationCheck = true;
              }
              appendTag += "</span>";

              $("#duplicationResult").append(appendTag);




          },
          error: function(data) {
              console.log('AJAX ERROR - ajax_idDuplicationCheck()');
          }
      });
  }
</script>