<script th:fragment="js" type="text/javascript">


  $(document).ready(function() {
    console.log('DOCUMENT READY!!');

    initEvent();

  });

  function initEvent() {
    console.log("initEvent() CALLED!!!");

    $("a.modifyLeavePass").on('click', function (){
        console.log("modifyLeavePass CLICK HANDLER()!!!!");

        let no = $(this).data("no");

        location.href = "/admin/leavePass/modifyLeavePass?no="+no;

    });
    $("a.approveLeavePass").on('click', function (){
        console.log("approveLeavePass CLICK HANDLER()!!!!");

        let no = $(this).data("no");

        ajax_approveLeavePass(no);

    });
  }



  // AJAX START

  function ajax_approveLeavePass(no){
      console.log("ajax_approveLeavePass() CALLED!!!");

      msgDto={
          'no': no,
      }

      $.ajax({
          url: '/admin/leavePass/approveLeavePass',
          type: 'GET',
          data: msgDto,
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(data) {
              console.log('AJAX SUCCESS - ajax_approveLeavePass()');

              let leavePassDtos = data.leavePassDtos;

              let appendTag = "";
              $("#sectionWrap  table > tbody").children().remove();
              for (let i = 0; i < leavePassDtos.length; i++){
                  appendTag += "<tr>";
                  appendTag += "<td>" + leavePassDtos[i].student_name + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].student_id + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].grade + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].dormitory + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].content + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].start_date + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].start_date + "</td>";
                  appendTag += "<td>" + leavePassDtos[i].end_date + "</td>";
                  appendTag += "<td<a class='modifyLeavePass' href='#none' data-no=" + leavePassDtos[i].no + ">수정</a></td>";
                  if(leavePassDtos.admin_approval == '0'){
                      appendTag += "<td><a class='approveLeavePass' href='#none' data-no="+leavePassDtos[i].no+">승인</a></td>";
                  } else {
                      appendTag += "<td>승인완료</td>";
                  }
                  appendTag += "</tr>";
              }
              $("#sectionWrap table > tbody").append(appendTag);


          },
          error: function(data) {
              console.log('AJAX ERROR - ajax_approveLeavePass()');
          }
      });
  }
</script>