<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
<!--    <title th:replace="~{/include/title.html::title}"></title>-->
    <title>aaa</title>

    <link rel="stylesheet" th:href="@{/css/test.css}">


</head>
<body>

<div>

    <div>
        홈 페이지
    </div>

    <div>
        <a th:href="@{/admin/member/createAccountForm}">create Account</a>
    </div>

    <div>
        <a th:href="@{/admin/member/loginForm}">login Account</a>
    </div>

    <div>
        <form method="post" action="/upload/excel" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx">
            <button type="submit">Upload</button>
        </form>
    </div>

    <div>
        <a th:href="@{/product}">product Home</a>
    </div>

</div>


</body>
</html>