<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title th:replace="~{/include/title.html::title}"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooter.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">


</head>
<body>

<div>
    <section>
        <div class="section-wrap">
            <div class="info-container">
                <div class="flex">
                    <div class="notice-container">
                        <h2>Notice</h2>
                    </div>
                    <div class="timetable-container">
                        <h2>Timetable</h2>
                    </div>
                </div>
                <div class="ad-container">
                    <h2>광고 광고 광고 광고</h2>
                </div>
                <div class="flex">
                    <div class="eng-word-container">
                        <h2>English Word</h2>
                    </div>
                    <div class="menu-container">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="privacy-container">
                <div class="login-container">
                    <h2>Login to Cozy Nest</h2>
                    <form th:if="${session.loginedMemberDto == null}">
                        <button type="button" onclick="location.href='/admin/member/loginForm';">Cozy Nest 로그인</button>
                        <span><a th:href="@{/admin/member/createAccountForm}">회원가입</a></span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                        <span><a th:href="@{/admin/member/findIDForm}">아이디 찾기</a></span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                        <span><a th:href="@{/admin/member/findPasswordForm}">비밀번호 찾기</a></span>
                    </form>

                    <div th:if="${session.loginedMemberDto != null}">
                        <a th:href="@{/admin/member/logoutConfirm}">logout</a>
                    </div>
                </div>
                <div class="point-container">
                    <h2>나의 상벌점 현황</h2>
                    <div>
                        <a th:href="@{/product}">product Home</a>
                    </div>
                    <div>
                        <a th:href="@{/leavePass/leavePassList}">외박 내역</a>
                    </div>
                    <div>
                        <a th:href="@{/admin/member/studentApprovalList}">학생 내역</a>
                    </div>
                    <div>
                        <a th:href="@{/admin/member/parentsApprovalList}">학부모 내역</a>
                    </div>
                    <div>
                        <a th:href="@{/admin/member/admin002ApprovalList}">관리자 내역</a>
                    </div>
                </div>
                <div>

                </div>
                <div class="wrap" th:if="${session.loginedStudentDto != null}">
                    <a th:href="@{/user/student/modifyAccountForm}">회원 수정</a>
                    <a th:href="@{/user/student/logoutConfirm}">로그아웃</a>
                    <a th:href="@{/user/student/leaveOutForm}">외박신청</a>
                </div>
                <div class="wrap" th:if="${session.loginedParentsDto != null}">
                    <a th:href="@{/user/parents/modifyAccountForm}">회원 수정</a>
                    <a th:href="@{/user/parents/logoutConfirm}">로그아웃</a>
                </div>
                <a th:href="@{/notice/noticeListForm}">공지사항</a>
                <a th:href="@{/board/freeBoardListForm}">자유 게시판</a>
                <a th:href="@{/board/writeContentForm}">게시판 작성</a>

                <!-- Student Product 관련 추가 -->
                <div class="wrap">
                    <a th:href="@{/product/mySchoolProductForm}">우리 학교 매점</a>
                </div>
                <div class="wrap">
                    <a th:href="@{/product/paymentHistory}">결제 내역</a>
                </div>
            </div>


        </div>
    </section>
</div>


</body>
</html>